<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- role -->
<mapper namespace="com.poison.shiro.service.user.RoleMapper">
    <!-- 结果映射 -->
    <resultMap id="baseResultMap" type="com.poison.shiro.domain.Role">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 表所有字段 -->
    <sql id="allColumns">
        ID, `NAME`
    </sql>
    <!--根据userId查询数据列表-->
    <select id="findByUserId" resultMap="baseResultMap">
        SELECT
          r.ID,
          r.`NAME`
        FROM role AS r,	user_role AS ur
        WHERE r.`NAME` = ur.ROLE_ID AND ur.USER_ID = #{userId}
    </select>
</mapper>